html {
	background:#fff;
}

body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	}
h1, h2, h3{
margin:0;
}
h2.main{
	clear:both;
}
ul,li
{
	list-style:none !important;
}
.skiplinks {display:none;}
#container {
	width:980px;
	margin:2px auto;
	position:relative;
}
#header {
	border: 0px solid red;
    clear: both;
    margin: 0 auto;
    padding-top: 5px;
    width: 980px;
}
#header ul.nav{
	float:right;
	border-radius:5px 5px 0 0;
	background:#000;
}
#header ul.nav li{
	float:left;
	margin:3px;
	padding:2px;
	
}
#header ul.nav li.h-nav a,#header ul.nav li.n-nav a{
	color:#fff;
	font-weight:bold;
}
#header ul.nav li.h-nav a{
	border-right:2px solid #fff;
	padding:2px 5px 0px 30px;
	background:url("../images/icon/h-nav.jpg") no-repeat scroll 0 -1px transparent
}
#header ul.nav li.n-nav a{
	border-right:0px solid #fff;
	padding:2px 5px 0px 30px;
	background:url("../images/icon/n-nav.jpg") no-repeat scroll 0 -1px transparent
}
#header img{margin-left:0px;padding-top:0px;}
.newdivel {
	float: left;
    height: 18px;
    padding-top: 5px;
    width: 100%;
}

#footer {
	background: none repeat scroll 0 0 #000;
    border-top: 0px solid #F4F4F4;
    clear: both;
    height: 70px;
    margin: 0 auto;
    width: 980px;
	color: #fff;
}
#foot {
	height:70px;
	width:950px;
	margin:0 auto;
}
.footer-text{
	float: left;
    margin-left: 168px;
    padding: 15px;
}
.footer-text p{
	text-align:center;
}
/* Header section Css */

/* body section Css */
/* login section Css */
.login-box {
    height: 523px;
    margin: 100px auto 24px;
    position: relative;
    width: 980px;
	background:url("../images/login-bg.gif") no-repeat scroll 0 0 transparent;
}
.login-title-box{
	color: red;
    font-size: 18px;
    font-weight: bold;
    height: 89px;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 40px;
    top: 25px;
    width: 410px;
}
.login-box h2 {
    float: left;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    padding: 11px;
    width: 90%;
}
.login-shadow-box {
    background: none;
    float: left;
    height: 289px;
    overflow: hidden;
    padding: 14px;
    position: relative;
    width: 339px;
	left:560px;
	top:70px;
}
.login-shadow-box label.cl1 {
    font-size: 14px;
    font-weight: bold;
}
.login-shadow-box label {
    float: left;
    padding: 5px 0;
    width: 96%;
}
.login-shadow-box label.cl2 {
	font-size:12px;
}
#login .loginerrors
{
	float: left;
    padding: 5px 0;
    width: 96%;
    color:#ff0000;
    font-weight:bold;
}
span[lang="eng"] {
	padding:0 12px 0 0;
}
label a {
	color:#000;
	text-decoration:underline;
	font-size:12px;
}
.nat-input {
	padding:0 0 25px 0;
}
/* input box Css */
.txtinput, .passinput {
    border: 1px solid #BFBFBF;
    color: #CACACA;
    font-size: 13px;
    padding: 4px 3px;
    width: 94%;
}
/* --------------------------- INDEX PAGE -------------------------------------------------  */
.index {
	float: left;
    padding: 0 63px;
    width: 847px;
}
.col_left {
	float: left;
    margin: 0 15px 0 0;
    padding: 0;
    width: 267px;
}
.index-rightboard {
	float:left;
	/* width:100%;*/
	
}
.index-leftboard {
	float:left;
	width: 213px;
}

.index-rightboard h5 {
	padding:6px 0;
}
.dashboard {
	/*background:url(../images/index-bg-bar.png) repeat-y; (It use for shadow later)*/
	width:100%;
	float:left;
}
#custom_blocks {
    float: left;
    padding-left: 3px;
    padding-top: 15px;
    width: 94%;}
.profile_block {
	/*background:url(../pix/index-bg-bar.png) repeat-y;*/
	width:100%;
	float:left;
}
.profile_block_bottom {
	background:url(../pix/index-bg-bar-bottom.png) no-repeat;
	width:220px;
	height:8px;
	float:left;
}
.profile_block .profile {
	float: left;
    margin: 0px 10px 10px;
    width: 94%;
}
/* list item navigation on left */
.profile_block .verticle_navbar {
	float:left;
	margin: 0 0 10px 0;
	width: 60px;
}
.verticle_navbar ul{
	width:88%;
}
.verticle_navbar ul, .verticle_navbar ul li {
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	display:block;
}
.verticle_navbar ul li {
	border-right: 2px solid #FFFFFF;
    height: 33px;
    padding: 0;
}
.verticle_navbar ul li a{
	padding: 5px 5px 5px 26px;
	color: #fff;
	font-weight: bold;
	text-decoration:none;
}
.verticle_navbar ul li a:hover{
	color: #F07700 !important;
	text-decoration:none;
}
.verticle_navbar ul li a.homesel,
.verticle_navbar ul li a.centersel,
.verticle_navbar ul li a.coursesel,
.verticle_navbar ul li a.lessonsel,
.verticle_navbar ul li a.classsel,
.verticle_navbar ul li a.messagesel ,
.verticle_navbar ul li a.forumsel,
.verticle_navbar ul li a.reportsel,
.verticle_navbar ul li a.userssel,
.verticle_navbar ul li a.profileusersel 
 {
	color: #F07700 !important;
}
.verticle_navbar ul li a.home {
	background:url(../pix/icon/h-nav.jpg) no-repeat #000;
	border-radius:5px 0 0 0;
}
.verticle_navbar ul li a.homesel {
	background:url(../pix/icon/h-nav.jpg) no-repeat #000;	
	border-radius:5px 0 0 0;
}
.verticle_navbar ul li a.center {
	background:url(../pix/icon/d-nav.png) no-repeat #000;
}
.verticle_navbar ul li a.centersel {
	background:url(../pix/icon/d-nav.png) no-repeat #000;
}
.verticle_navbar ul li a.course {
	background:url(../pix/icon/c-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.coursesel {
	background:url(../pix/icon/c-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.lesson {
	background:url(../pix/icon/n-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.lessonsel {
	background:url(../pix/icon/n-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.class {
	background:url(../pix/icon/class.png) no-repeat;
}
.verticle_navbar ul li a.classsel {
	background:url(../pix/icon/class-hover.png) no-repeat;
}
.verticle_navbar ul li a.message {
	background:url(../pix/icon/m-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.messagesel {
	background:url(../pix/icon/m-nav.jpg) no-repeat #000;
}
.verticle_navbar ul li a.forum {
	background:url(../pix/icon/forum.png) no-repeat #000;
}
.verticle_navbar ul li a.report {
	background:url(../pix/icon/report.png) no-repeat #000;
}
.verticle_navbar ul li a.users {
	background:url(../pix/icon/u-nav.png) no-repeat #000;
}
.verticle_navbar ul li a.userssel {
	background:url(../pix/icon/u-nav.png) no-repeat #000;
}
.verticle_navbar ul li a.quiz {
	background:url(../pix/icon/quiz.png) no-repeat #000;
}
.verticle_navbar ul li a.profileuser {
	background:url(../pix/icon/profile.png) no-repeat #000;
}
.verticle_navbar ul li a.profileusersel {
	background:url(../pix/icon/profile-hover.png) no-repeat #000;
}
.verticle_navbar ul li a.logout {
	background: url("../theme/mghc2c/pix/logout.png") no-repeat scroll 0 0 #FFFFFF;
    color: #FF0000;
}
.verticle_navbar ul li a.active {
	position:absolute;
	text-indent:-9999px;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.home.active {
	background:url(../pix/icon/home-hover.png) no-repeat;
}
.verticle_navbar ul li a.course.active {
	background:url(../pix/icon/course-hover.png) no-repeat;
}
.verticle_navbar ul li a.lesson.active {
	background:url(../pix/icon/lesson-hover.png) no-repeat;
}
.verticle_navbar ul li a.message.active {
	background:url(../pix/icon/message-hover.png) no-repeat;
}
/* list item navigation on left */
.profileimage {
	height: 244px;
	margin: 0 auto;
	width: 240px;
	border: 5px solid #ccc;
}
.profileimage a img{
	height: 244px;
	width: 240px;
}
.profilename {
	width:240px;
	/*height:115px;*/
	float:left;
	border-bottom:1px dotted #000;
	padding: 10px 0;
}
.profilename h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0px;
	float:left;
	width:auto;
}
.profilename h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	color: #EB161F;
	padding: 0px 10px;
	float:left;
	width:auto;
}
.profilestatus {
	width:145px;
	float:left;
	}

.profilestatus {
    background: none repeat scroll 0 0 #EBEBEB;
    border-radius: 8px 8px 8px 8px;
    float: left;
    margin: 8px 0;
    padding: 5px;
	width:98%;
}
.profilestatus p {
    font-size:11px;
	border-bottom:1px dotted #000;
	padding: 15px 0;
}
.profilestatus h3 {
    font-size: 12px;
    margin: 7px 0;
    padding: 3px;
	font-weight:bold;
}
.profilestatus h3 a{
	background:url('../theme/mghc2c/pix/tag.png') no-repeat 5px 5px;
	padding: 5px 0 5px 30px;
	font-size:16px;
}

.profilestatus .yel-bar {
    width: 98% !important;
	height:2px;
	margin: 10px 0;
}

.yel-bar {
    background: none repeat scroll 0 0 #1FE3FF;
    border-radius: 10px 10px 10px 10px;
    height: 12px;
    position: relative;
    width: 69px;
}
.gre-bar {
    background: none repeat scroll 0 0 #3AC54A;
    border-radius: 10px 10px 10px 10px;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}

.att-status {
    background: none repeat scroll 0 0 #EBEBEB;
    border-radius: 8px 8px 8px 8px;
    float: left;
}

.att-status ul {
    float: left;
    list-style: none outside none;
    margin: 8px 0;
}

.att-status ul li {
    border-bottom: 1px dotted #A79B2C;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 248px;
}

.att-status ul li {
    border-bottom: 1px dotted #A79B2C;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 248px;
}
.ct1 {
    color: #31B91F;
}
.ct1 span {
    background: url("../theme/mghc2c/pix/g-num.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 14px;
    height: 31px;
    padding-left: 5px;
    padding-top: 10px;
    text-align: center;
    width: 30px;
}
.ct2 {
    color: #FF7E00;
}
.ct2 span {
    background: url("../theme/mghc2c/pix/o-num.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 14px;
    height: 31px;
    padding-left: 5px;
    padding-top: 10px;
    text-align: center;
    width: 30px;
}
.ct3 {
    color: #1EB9EF;
}
.ct3 span {
    background: url("../theme/mghc2c/pix/b-num.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 14px;
    height: 31px;
    padding-left: 5px;
    padding-top: 10px;
    text-align: center;
    width: 30px;
}
.blackstar {
    background: url("../pix/blackstar.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 16px;
    margin: 0 0 10px;
    width: 104px;
}
/* Header section Css */
.generalbox, .generalboxcontent, .informationbox, .informationboxcontent {border-radius: 0px 0px 0px 0px;}
.block_calendar_month  .header{}
.calendartable th, .calendartable td{border:0px;}
.block_calendar_month  .content,.block .minicalendar th, .block .minicalendar td{color:#0e1a3c;font-size:13px;font-family:Calibri;font-weight:bold;padding:4px;}
abbr, acronym {border:0px;}
.block_calendar_month  .content .minicalendar .calendartable{color:#0e1a3c;font-size:13px;font-family:Calibri;font-weight:bold;}
.block .minicalendar td.weekend {color: #000000;}
.block .calendar-controls{border-bottom: 1px solid #009BDB;height: 22px;padding: 5px 0;width: 100%;}
.block .calendar-controls a{color: #0E1A3C;font-family: arial;font-size: 15px;font-weight: normal;text-decoration: none;}
.filters table,.eventskey{width:100%;}

.profilephoto {
    float: left;
    height: 82px;
    width: 82px;
}
.sectionCA{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #000000;
    float: right;
    /*height: 68px;*/
    overflow: hidden;
    padding: 7px 11px;
    width: 481px;
}
.sectionCA .courseL {
    float: left;
    width: 45%;
}
.sectionCA .achiveR {
    float: right;
    width: 45%;
}
.sectionCA .courseL h3{
    border-bottom: 1px dotted #CCCCCC;
	font-size: 14px;
    padding-bottom: 5px;
}
.sectionCA .achiveR h3 {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 14px;
    padding-bottom: 5px;
}
.sectionCA p {
   font-size:11px; 
   padding:0;
   margin:2px;   
}
.sectionCA p.star-rate {
    background: url(../pix/star.png) repeat scroll 0 0 transparent;
    height: 13px;
    margin: 7px 0;
}
.sectionmessage  {
	float: left;
    margin: 8px 0;
	border-top:1px solid #63c7d3;
	width: 100%;
}
.sectionmessage h4 {
    color: #444442;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0;
}
.messagebox {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #5A5A5A;
    float: left;
    margin: 0 5px;
    padding: 6px;
    width: 46%;
}
.sendmessagebtn {
    background: url("../pix/sendme_messagebtn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 22px;
    margin: 6px auto;
    width: 151px;
}
.imageborder {
    float: left;
    width: 92px;
}
.messagebox h5 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 14px;
	padding:6px 0;
}
.topbx {
    float: left;
    width: 100%;
}
.topbx-ri {
    float: right;
    width: 66%;
}
.topbx-ri p{
    font-size:11px;
	font-weight:normal;padding:6px 0;
}
.blline {
    border-top: 1px solid #CFCFCF;
    float: left;
    width: 100%;
}
.sectionlesson  {
	float: left;
    margin: 9px 0;
	width: 100%;
}
.sectionlesson h4  {
	margin: 10px 0;
	font-weight:bold;
	font-size: 14px;
	color:#444442;
}

/* Carosel Small  */
#carousel1 {
	width:600px;
	height:88px;
	margin:15px 0;
	position:relative;
	float:left;
	background:url(../pix/carousel1bg.png) no-repeat;
}
#carousel1 .bef {
	float: left;
    height: 26px;
    margin-left: 14px;
    margin-top: 35px;
    position: relative;
    width: 43px;
}
#carousel1 .aft {
	 float: right;
    height: 88px;
    margin-top: 35px;
    position: relative;
    width: 38px;
}
.bef #prev2 {
	left: 24px;
    position: absolute;
    top: 36px;
	cursor:pointer;
}
.aft #next2 {
	right: 24px;
    position: absolute;
    top: 36px;
	cursor:pointer;
}
ul.carobig, ul.carobig li {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
#carousel1 div.caro {
	float: left;
    height: 60px;
    overflow: hidden;
    padding: 10px 0;
    width: 489px;
}
div.caro ul.carobig {
	float:left;
	width:20000px;
}
ul.carobig li {
	float: left;
    height: 69px;
    margin-right: 5px;
    width: 135px;
}
/*
.greenact {
	background:url(../pix/greenact.png) no-repeat;
	height:69px;
	width:157px;
	float:left;
	text-decoration:none;
	border: 2px solid #E6E6E6;
}
*/
.greenact div h4{
	padding: 4px 52px 4px 0px;
	margin: 0;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
.greenact div p{
	font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 19px;
    text-align: left;
}
/*
.greenactno {
	background:url(../pix/greenactno.png) no-repeat;
	height:69px;
	width:159px;
	float:left;
	text-decoration:none;
	border: 2px solid #E6E6E6;
}
*/
.greenactno div h4{
	padding: 4px 52px 4px 0px;
	margin: 0;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
.greenactno div p{
	font-size: 11px;
    font-weight: bold;
    padding: 0 0 0 19px;
    text-align: left;
}



.yellowact div h4{
	padding: 4px 52px 4px 0px;
	margin: 0;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
.yellowact div p{
	font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 19px;
    text-align: left;
}
.blueact div h4{
	padding: 4px 52px 4px 0px;
	margin: 0;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
.blueact div p{
	font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 19px;
    text-align: left;
}

.yellowact {
	background:url(../pix/yellowact.png) no-repeat;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
}
.yellowact:hover {
	border: 2px solid #ff0000;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
}
.blueact {
	background:url(../pix/blueact.png) no-repeat;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
}
.blueact:hover {
	border: 2px solid #ff0000;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
}
.greenact {
	background:url(../pix/greenact.png) no-repeat;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
}

.greenact:hover {
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
	border: 2px solid #ff0000;
}

.greenactno {
	background:url(../pix/greenactno.png) no-repeat;
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
	
}
.greenactno:hover {
	height:61px;
	min-width:153px !important;
	float:left;
	text-decoration:none;
	border: 2px solid #ff0000;
}
.act_sele{
	border: 2px solid #ff0000;
	height:65px;
	width:157px;
	float:left;
}

ul.carobig li a {
	border: 2px solid #E6E6E6;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
	height: 66px;
    width: 131px;
}
ul.carobig li a div {
	color: #000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 3px;
}
ul.carobig li a:hover {
	border:2px solid #ff0000;

}
ul.carobig li a div h4 {
	padding:4px;
	margin:0;
	display:block;
	font-weight:bold;
	font-size:16px;
}
ul.carobig li a div p {
	padding:0 4px;
	margin:0;
	display:normal;
	font-weight:bold;
	font-size:11px;
}

	
/* Carosel Small  */

#carousel2 {
	width:600px;
	height:63px;
	margin:15px 0;
	position:relative;
	float:left;
	background:url(../pix/carousel2bg.png) no-repeat;
}
#carousel2 .bef {
	float: left;
    height: 37px;
    margin-left: 15px;
    margin-top: 23px;
    position: relative;
    width: 33px;
}
#carousel2 .aft {
	width:55px;
	height:63px;
	float:right;
	position:relative;
	margin-right: -16px;
    margin-top: 23px;
}
.bef #prev, .bef #prev1 {
	left: 24px;
    position: absolute;
    top: 24px;
	cursor:pointer;
}
.aft #next, .aft #next1 {
	right: 24px;
    position: absolute;
    top: 24px;
	cursor:pointer;
}
ul.carosmall, ul.carosmall li {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
#carousel2 div.caro {
	float: left;
    height: 35px;
    overflow: hidden;
    padding: 10px 0;
    width: 489px;
    margin: 1px 0 0 19px;
}
div.caro ul.carosmall {
	float:left:
	width:20000px;
}
ul.carosmall li {
	float: left;
    height: 43px;
    margin-right: 5px;
    width: 39px;
}

.greencarosmall {
	background:url(../pix/green.png) no-repeat;
	height: 40px;
    float: left;
    text-decoration: none;
    min-width:42px;
  
}
.bluecarosmall {
	background:url(../pix/blue.png) no-repeat;
	height: 41px;
   min-width:42px;
    float: left;
    text-decoration: none;
   
}
.yellowcarosmall {
	background:url(../pix/yellow.png) no-repeat;
	height: 41px;
   min-width:42px;
    float: left;
    text-decoration: none;
    
}


.greencarosmall:hover {
	border: 1px solid #ff0000 !important;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
	height: 37px !important;
    min-width:40px;
}




.yellowcarosmall:hover {
	border: 2px solid #ff0000;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
	height: 41px;
    min-width:40px;
}


.bluecarosmall:hover {
	border: 2px solid #ff0000;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
	height: 41px;
  	min-width:40px;
}

.sel {
	border: 2px solid #ff0000;
    color: #FFFFFF;
 	height: 39px;
    width: 39px;
    float: left;
    text-decoration: none;
}
ul.carosmall li a {
	border: 2px solid #E6E6E6;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
	height: 39px;
    width: 39px;
}


li a span {
	color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 13px;
    float:left;
}
ul.carosmall li a:hover {
	border:2px solid #ff0000;

}

.sectionlessonborder {
	border-bottom: 2px solid #8ad1c9;
    float: left;
   	margin: 10px 0;
    padding-bottom: 10px;
}

img.iconsmall {
  margin-right: 1px;
  vertical-align: middle;
  /*height: 17px;
  width: 19px;*/
}

img.iconsmall17 {
  margin-right: 1px;
  vertical-align: middle;
  height: 17px;
  width: 19px;
}

#carousel3,#carousel4,#carouselteacher,#carouselclass {
	width:703px;
	height:63px;
	margin: 0 0 15px 0;
	position:relative;
	float:left;
	background:url(../theme/mghc2c/pix/carousel1mid.png) no-repeat;
}
#carousel3 .bef3, #carousel4 .bef3 , #carouselteacher .bef3, #carouselclass .bef3{
	float: left;
    margin-left: 0;
    margin-top: 18px;
    position: relative;
    width: 17px;
}

#carousel3 .aft3, #carousel4 .aft3, #carouselteacher .aft3, #carouselclass .aft3 {
    float: right;
    margin-top: 17px;
    position: relative;
    width: 14px;
}
#carousel3 div.caro, #carousel4 div.caro, #carouselteacher div.caro, #carouselclass div.caro {
	float: left;
    height: 48px;
    overflow: hidden;
    padding: 2px 0 0 0;
    width: 664px;
}
div.caro ul.caromid {
	float:left;
	width:20000px;
	height:46px !important;
}
.white {
	background:#FFFFFF url(../theme/mghc2c/pix/tag.png) left 5px no-repeat;
}
.whitecat {
	background:#FFFFFF none;
}
ul.caromid li.green {
	background:#8FC21F url(../pix/icon/bk3sgreen.jpg) left top no-repeat;
}
ul.caromid li a.yellow {
	background:#FCC900 url(../pix/icon/bk3syellow.jpg) left top no-repeat;
}
ul.caromid li a.blue {
	background:#1EB9EF url(../pix/icon/bk3sblue.jpg) left top no-repeat;
}
ul.caromid li {
  	color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 29px;
    line-height: 14px;
    padding: 6px 0 5px 24px;
    min-width: 132px;
    margin:4px 4px;
}
ul.caromid li.whitecat {
  	color: #000;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 14px;
    padding: 6px 0 5px 5px;
    min-width: 130px;
    margin:4px 4px;
}
ul.caromid li.white a, ul.caromid li.whitecat a {
	color: #000;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 12px;
}
ul.caromid li a {
	color: #fff;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 12px;
}
ul.caromid li:hover {
	border:1px solid #ff0000;
}
ul.caromid li a div h4 {
	padding: 4px 4px 4px 39px;
	margin: 0;
	display: block;
	font-weight: bold;
	font-size: 15px;
}
ul.caromid li a div p {
	padding:0 4px;
	margin:0;
	display:normal;
	font-weight:bold;
	font-size:11px;
}

.yui-carousel-element li {
    border: 0px solid #CCCCCC !important;
    list-style: none outside none;
    margin: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
}

.co-number {
    /*background: url("../pix/icon/bk-number.png") no-repeat scroll 0 0 transparent;*/
    height: 82px;
    left: 0;
    position: absolute;
    top: 0;
    width: 39px;
}
.co-number span{
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
.co-details {
    float: left;
    margin-left: 45px;
    position: relative;
    width: 540px;
}

#page-mod-lesson-view .continuebutton
{
	display:block; 
}
#page-mod-assignment-type-upload-upload .errormessage ,.errorcode,.continuebutton
{
	display:block;clear:both;
}
#mycustomscroll3 #carouselcoursedetails{
	width:2000px  !important;
}

#sectionlessonid .yui-carousel .yui-carousel-item-selected {
   	border:2px solid blue !important;
    margin-right:-2px ;
}
#sectionlessonid ul li
{
	border: medium none;
    float: left;
    height: 61px;
    margin: 0 3px 5px !important;
    max-width: 159px;
    min-width: 155px !important;
    outline: medium none;
    position: static;
    width: 150px
	/*margin: 0 5px 3px 0 !important;*/	
}
#mycustomscroll3 #carouselcoursedetails li
{
	border: medium none;
    float: left;
    height: 37px;
    margin: 0 1px 3px !important;
    max-width: 42px;
    min-width: 39px !important;
    outline: medium none;
    position: static;
    width: 40px
	/*margin: 0 5px 3px 0 !important;*/	
}

.continuebutton2 {
    display:block !important;
}
#page-mod-quiz-review .submitbtns {
 display:block;
}

/* china language pack */
.verticle_navbar ul li a.home_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/home.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.home_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/home-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.home_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/home-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.center_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/center.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.center_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/center-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.center_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/center-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.class_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/class.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.class_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/class-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.class_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/class-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.course_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/course.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.course_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/course-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.course_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/course-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.lesson_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/lesson.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.lesson_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/lesson-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.lesson_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/lesson-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.users_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/users.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.users_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/users-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.users_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/users-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.message_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/message.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.message_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/message-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.message_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/message-hover.png) no-repeat;
	width:60px;
	height:73px;
}

.verticle_navbar ul li a.profileuser_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/profile.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.profileuser_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/profile-hover.png) no-repeat;
	width:60px;
	height:73px;
}
.verticle_navbar ul li a.profileuser_zh_cnsel {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/profile-hover.png) no-repeat;
	width:60px;
	height:73px;
}


.verticle_navbar ul li a.logout_zh_cn {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/logout.png) no-repeat;
	width:49px;
	height:73px;
}
.verticle_navbar ul li a.logout_zh_cn:hover {
	position:absolute;
	text-indent:-9999px;
	background:url(../pix/icon/zh_cn/logout-hover.png) no-repeat;
	width:60px;
	height:73px;
}
/* china pack  class ends */


.block_calendar_month .content, .block .minicalendar th, .block .minicalendar td {
    color: #0E1A3C;
    font-size: 13px;
    font-weight: bold;
    padding: 3px !important;
}
#dateselector-calendar-panel,#dateselector-calendar-content
{
	display:none;
}
.buttonstyled{
	background: none repeat scroll 0 0 #FF7E00;
    background-color: #FF7E00;
    border: 2px solid #FF7E00;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #5A5A5A;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    padding: 1px;
    text-decoration: none;
	 }
.buttonstyled:hover{
	background: none repeat scroll 0 0 #FF7E00;
    background-color: #FF7E00;
    border: 2px solid #FF7E00;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #5A5A5A;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    padding: 1px;
    text-decoration: none;
	 }
#moodle_center_remove_confirmation{
	display:none;
}
#moodle_centers{
float:left;
width:100%;
}

.scoreboard {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
    width: 99%;
}

.scoreboard dl#left {
    float: left;
    padding: 0;
    width: 300px;
}

.scoreboard dl#right {
    float: right;
    padding: 0;
    width: 300px;
}

.scoreboard dl#left dt, .scoreboard dl#right dt {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 16px;
}

.scoreboard dl#left dd, .scoreboard dl#right dd {
    background: url("../theme/mghc2c/pix/tag.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #000000;
    float: left;
    margin-bottom: 4px;
    padding: 3px 2px 12px;
    width: 96%;
}

.totnum1marks {
    color: #1ED705;
    font-size: 14px;
    font-weight: bold;
}

.num1 {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 19px 0 5px;
}

.num1marks {
    color: #ED1C24;
    float: right;
    font-size: 13px;
    font-weight: bold;
}
#notice{
	float:left;
}
.user-enroller-panel{
	z-index:9999999;
}